.navbar{
    position: relative;
    width: 100vw;
    box-sizing: border-box;
    background: #2d2d2d;
    color: #fff;
    margin: 0;
    padding: .5rem;
}

.navbar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navbar li{
    padding: 0rem 1.5rem;
    font-weight: bold;
}

.navbar a{
    color: yellow;
}

.navbar a:hover{
    color: greenyellow;
}